.main {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
}

.playground {
    background-color: rgb(100, 149, 237);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 1rem;
    min-height: 24rem;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    display: inline-block;
    font-size: 2rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 4rem;
    min-height: 8.33rem;
    height: 33.33%;
    margin: 0;
    padding: 2rem;
    text-align: center;
    width: 33.33%
}

.cell--top-left {
    border-radius: 8px 0 0 0;
}

.cell--top-right {
    border-radius: 0 8px 0 0;
}

.cell--bottom-right {
    border-radius: 0 0 8px 0;
}

.cell--bottom-left {
    border-radius: 0 0 0 8px;
}

.cell:focus{
    outline: none;
    border: 1px solid rgb(250, 128, 114);
}

.cell--winner {
    background-color: rgb(41, 214, 171);
}

.info {
    background-color: rgb(255, 245, 238);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    padding: 0 1rem;
    width: 100%;
    flex-direction: column;
}

.label--active {
    background-color: rgb(255, 99, 71);
    display: block;
    color: rgb(255, 255, 255);
    width: 100%;
}

.label-result--filled {
    background-color: rgb(41, 214, 171);
}

.button-newGame {
    font-size: 1.5rem;
    height: 3rem;
    margin: 1rem 0;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .main {
        flex-direction: row;
    }

    .playground {
        margin-right: 1%;
        margin-bottom: 0;
        width: 50%;
    }

    .info {
        width: 50%;
    }
}